@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://unpkg.com/leaflet@1.6.0/dist/leaflet.css');
@import url('./leaflet.awesome-markers.css');

body {
    margin: 0;
    padding: 0;
}

#mapid
{
    min-width: 100vh; 
    min-height: 100vh;
}

h2{
    margin-bottom:0;
    font-size: 2em;
}
.logo{
    width: 150px;
    display: block;
}

table {
    border-collapse:collapse;
    width:100%;
    text-align:center;
}
    
caption {
    caption-side:top;
    font-weight:bold;
    font-style:italic;
    margin:4px;
}

th {
    background-image: linear-gradient(aquamarine, rgb(83, 173, 143));
}

table,th, td {
    border: 1px solid gray;
}
    
th, td {
    padding:5px;
    vertical-align:middle;
}

table tr:nth-child(odd) td {
    background-color: #F0F0F0;
}