<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>liste des supermarchés coopératifs</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" type="text/css" media="screen" href="./css/style.css" />
</head>
<body>
   <div id="divListe">
      <table id="tblAffichage" summary="Liste des supermarchés coopératifs dans le monde">
         <caption>Supermarchés coopératifs</caption>
         <thead>
            <tr>
               <th>Nom</th>
               <th>Adresse</th>
               <th>Ville</th>
               <th><abbr title="Département">Dpt</abbr></th>
               <th>Pays</th>
               <th>Site web</th>
               <th>Courriel</th>
               <th width="100">Réseaux sociaux</th>
               <th>Avancement</th>
            </tr>
         </thead>
         <tbody>
            <tr  v-for="item in items">
               <td v-html="item.nom"></td>
               <td v-html="item.adresse"></td>
               <td>{{ item.ville }}</td>
               <td>{{ item.departement }}</td>
               <td>{{ item.pays }}</td>
               <td>
                  <a :href="item.site_web">{{ item.site_web }}</a>
               </td>
               <td>
                  <a :href="'mailto:' + item.courriel">Courriel</a>
               </td>
               <td>
                  <a v-if="item.bluesky" :href="item.bluesky">Bluesky</a>
                  <a v-if="item.facebook" :href="item.facebook">Facebook</a>
                  <a v-if="item.instagram" :href="item.instagram">Instagram</a>
                  <a v-if="item.linkedin" :href="item.linkedin">LinkedIn</a>
                  <a v-if="item.mastodon" :href="item.mastodon">Mastodon</a>
                  <a v-if="item.peertube" :href="item.peertube">PeerTube</a>
                  <a v-if="item.twitter" :href="item.twitter">Twitter</a>
                  <a v-if="item.youtube" :href="item.youtube">YouTube</a>
               </td>
               <td>
                  <div v-if="item.avancement === 1">
                     En projet
                   </div>
                   <div v-else-if="item.avancement === 2">
                     En cours de création
                   </div>
                   <div v-else-if="item.avancement === 3">
                     Groupement d'achat
                   </div>
                   <div v-else-if="item.avancement === 4">
                     Epicerie
                   </div>
                   <div v-else-if="item.avancement === 5">
                     Supermarché
                   </div>

               </td>
            </tr>
         </tbody>
      </table>
   </div>
    
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   
   <script type="module"  src="./js/liste.js"></script>
</body>
</html>